[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.0.4"
gunicorn = "*"
django-cors-headers = "*"
django-rest-swagger = "*"
djangorestframework = "*"

[dev-packages]
django-admin = "2.0.1"
pylint = "*"
mypy = "*"

[requires]
python_version = "3.8"
