<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/layout1}">

<div layout:fragment="content">
    <div class="panel-heading">list page</div> <!--화면에 panel 을 이용하여 간단한 스타일을 준다.-->
    <div class="panel-body">
        <p>[[${result}]]</p>
        <div>[[${result.content}]]</div>
    </div>

</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">

    </script>
</th:block>
</html>